DOCUMENTINTELLIGENCE_ENDPOINT=your_endpoint_here
DOCUMENTINTELLIGENCE_KEY=your_key_here

AZURE_OPENAI_ENDPOINT=your_endpoint_here
AZURE_OPENAI_API_KEY=your_key_here
AZURE_OPENAI_DEPLOYMENT=your_deployment_name
AZURE_OPENAI_API_VERSION=2024-10-21